@import url('https://dxstmhyqfqr1o.cloudfront.net/fonts.css');
@import 'mixin';

$font-family-default: 'Avenir Next';
$font-weight-default: 400;

$color-theme-default: #845ef7 !default;
$color-theme-over: #946eff !default;
$color-white: #fff;

$ic-back: 'ic-back.png';
$ic-main-chat: 'ic-main-chat.png';
$ic-main-close: 'ic-main-close.png';
$ic-create-active: 'ic-create-active.png';
$ic-create-hover: 'ic-create-hover.png';
$ic-profile: 'ic-bot-profile.png';
$ic-chat-admin: 'ic-bot-profile.png';
$ic-add-active: 'ic-add-active.png';
$ic-add-hover: 'ic-add-hover.png';
$ic-menu-more: 'ic-menu-more.png';
$ic-file: 'ic-file.png';
$ic-my-file: 'ic-my-file.png';
$ic-notification-close: 'ic-notification-close.png';

$login-logo: 'login-logo.png';
$guide-balloon: 'guide-balloon.png';

@keyframes spinnerAnimation {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

body {
  font-family: $font-family-default;
  font-weight: $font-weight-default;
  background: #fff;

  .-custom-suggested-question-list {
    position: fixed;
    bottom: max(8%, 45px);
    padding: 4px;

    .-custom-options {
      list-style: none;
      margin: 0;
      padding: 12px;
      display: flex ;
      gap: 8px;
      overflow-x: scroll;

      .-custom-option {
        flex-basis: 120px;
        padding: 2px 8px;
        flex-shrink: 0;
        border: 1px solid #1b1c1d;
        border-radius: 10px;
        background-color: white;
        font-size: 0.8rem;
        color: #1b1c1d;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
      }
    }
  }

  .-sbd-widget {
    width: 100%;
    -webkit-font-smoothing: antialiased;

    .-sbd-panel {
      width: 98%;
      height: 95vh;
      margin: auto;
      overflow: hidden;
      @include border-radius(8px);

      display: block;
      background: $color-white;
      @include box-shadow(0 5px 40px 0 rgba(0, 0, 0, 0.15));

      .-sbd-error {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 8px 12px;
        font-size: 1em;
        color: $color-white;
        background: rgba(33, 33, 33, 0.8);
        text-align: center;
        z-index: 1;
        display: none;
      }

      .-sbd-dialog {
        width: 100%;
        height: 100%;
        background: $color-white;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: all 500ms;
        overflow: hidden;

        &.opened {
          display: block;
          left: 0;
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
          transition: all 500ms;
        }

        .-sbd-message-list {
          position: relative;
          height: 91%;
          background: $color-white;
          padding-bottom: 10px;
          overflow: auto;

          .-sbd-message-item {
            padding: 10px 20px 0 20px;

            &.-sbd-my-message {
              text-align: right;
              .profile {
                display: none !important;
              }
              .preview {
                background: $color-theme-default !important;
                color: #fff !important;
                .description {
                  color: #fff !important;
                }
              }
              .message {
                background: $color-theme-default !important;
                color: #fff !important;
                a {
                  color: #fff !important;
                }
              }
            }
            &.-sbd-admin-message {
              .profile {
                @include icon($ic-chat-admin, 36px 36px);
                background-color: #aab;
                .image {
                  display: none;
                }
              }
            }
            .profile {
              position: relative;
              display: inline-block;
              width: 36px;
              height: 36px;
              margin: 5px 10px 0 0;
              vertical-align: top;
              overflow: hidden;
              @include border-radius(50%);
              @include icon($ic-profile, 36px 36px);

              .image {
                width: 100%;
                height: 100%;
              }
            }
            .content {
              position: relative;
              display: inline-block;
              vertical-align: middle;

              .image {
                width: 260px;
                @include border-radius(6px);
              }
              .video {
                width: 260px;
                height: 220px;
                @include border-radius(6px);
              }
              .preview {
                width: 260px;
                margin-bottom: 10px;
                background: #f1f2f6;
                text-align: left;
                overflow: hidden;
                cursor: pointer;
                @include border-radius(6px);
                @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.3));

                .image {
                  display: block;
                  width: 100%;
                  height: 200px;
                  @include border-radius(0);
                }
                .title {
                  font-size: 14px;
                  font-weight: 600;
                  margin: 15px 15px 0 15px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                .description {
                  max-height: 54px;
                  font-size: 13px;
                  color: #999;
                  margin: 4px 15px 15px 15px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
              .message {
                display: inline-block;
                width: fit-content;
                max-width: 240px;
                font-size: 14px;
                line-height: 1.35;
                padding: 12px;
                background: #f1f2f6;
                text-align: left;
                @include border-radius(6px);

                .file {
                  display: none;
                  width: 25px;
                  height: 28px;
                  margin-right: 10px;
                  vertical-align: middle;
                  @include icon($ic-file, 25px 28px);
                }
                .my-file {
                  display: none;
                  width: 25px;
                  height: 28px;
                  margin-right: 10px;
                  vertical-align: middle;
                  @include icon($ic-my-file, 25px 28px);
                }
                .text {
                  display: inline-block;
                  vertical-align: middle;
                  overflow-wrap: break-word;
                  word-break: break-all;
                  word-wrap: break-word;

                  &.file-name {
                    cursor: pointer;
                    @include hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              .created-at {
                font-size: 12px;
                color: #999;
                margin: 0 0 4px 6px;
              }
            }
          }
        }
        .-sbd-message-form {
          display: flex;
          align-items: center;
          width: 100%;
          height: 8%;
          min-height: 45px;
          border-top: 1px #ddd solid;
          box-sizing: border-box;
          background: $color-white;

          &.disabled {
            background: #f1f2f6;
            .attach {
              @include hover-focus {
                @include icon($ic-add-active, 22px 22px);
              }
              &.active {
                @include icon($ic-add-active, 22px 22px);
              }
            }
          }
          .message {
            padding: 12px 16px;
            flex-basis: 88%;
            font-size: 1.1em;
            min-height: 25px;
            max-height: 88px;
            border: 0;
            background: transparent;

            @include focus {
              outline: none;
              @include box-shadow(0 -20px 50px -10px rgba(0, 0, 0, 0.08));
              .attach {
                @include icon($ic-add-hover, 22px 22px);
              }
            }
          }
          .button {
            font-weight: bold;
            flex-basis: 12%;
            border-radius: 12px;
            background-color: #007bff;
            color: white;
            padding: 8px 4px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
